<div class="row">
    <div class="col-sm-6" "col-sm-offset-3">
        <a href="{{post.url}}" class="lead">{{post.title}}</a>
        <p>{{post.summary}}</p>
        <p>{{post.author.username}}</p>
    </div>
</div>

{{> comment-form}}

{{#each post.comments}}
    <p>{{this.content}}</p>
    <p class="text-right">{{this.author.username}}</p>
{{/each}}
